  button {
    padding-inline: 0.75rem;
    padding-block: 0.75rem;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    background-color: rgb(221, 73, 73);
    color: white;
    transition:all 0.3s ease-in-out;

  &:active{
    transform: scale(0.8);
  }
  
}  
.primary-button {
    text-align: center;
  }